<%	 @posts.each do |post|%>


  <%= image_tag post.image.small %>
<h3>
  <%= link_to  post_path(post) do %>
    <%=	 post.title %>
  <% end %>
</h3>
  <%= post.date_post %>

  <br>

  <%= post.user.fullname %>

  <br><br>

  <%= post.chapeau %>

  <br><br>
  -----------------------------------------------------------
  <br><br>
<% end %>

